<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Details</title>
</head>

<body>
  <%- include('partials/nav')  -%>

  <h1><%= data.name %></h1>

  <% if(err) { %>
  <p><%= err %> </p>
  <% } %>

  <% if(success) { %>
  <p><%= success %> </p>
  <% } %>

  <table border="2">
    <tr>
      <th>Title</th>
      <th>Borrow Date</th>
      <th>Return Date</th>
      <th>Borrowed Day(s)</th>
      <th>Action</th>
    </tr>

    <% data.EBooks.forEach(el => { %>
    <tr>
      <td><%= el.title %></td>
      <td><%= dateParse(el.borrow_log.createdAt) %></td>
      <td><%= dateParse(el.borrow_log.return_date) %></td>
      <td><%= el.borrow_log.days(el.borrow_log.createdAt) %> </td>
      <% if(session.role == 'admin') { %>
      <td>
        <a href="/accounts/reminder/<%= el.borrow_log.id %> ">Remind</a> ||
        <a href="/accounts/rollback/ <%= el.borrow_log.id %> ">Rollback</a>
      </td>
      <% } else { %>
      <td>
        <a href="/accounts/rollback/ <%= el.borrow_log.id %> ">Rollback</a>
      </td>
      <% } %>
    </tr>
    <% }) %>
  </table>
</body>

</html>