<%- include('partials/head')  -%>

<body>
  <%- include('partials/nav')  -%>

  <h1><%= data.title %> </h1>

  <table border="2">
    <tr>
      <th>Borrower Name</th>
      <th>Borrow Date</th>
      <th>Return Date</th>
      <th>Days</th>
    </tr>

    <% data.Accounts.forEach(el=>{%>
    <tr>
      <td><%= el.name %></td>
      <td><%= dateParse(el.borrow_log.createdAt) %></td>
      <td><%= dateParse(el.borrow_log.return_date) %></td>
      <td><%= el.borrow_log.days(el.borrow_log.createdAt) %> </td>
      <!-- <td><a href="/accounts/reminder/<%= el.borrow_log.id %> ">Remind</a></td> -->
    </tr>
    <% }) %>
  </table>
  <%- include('partials/footer')  -%>

</body>

</html>