<%- include('partials/head')  -%>

<body>
  <%- include('partials/nav')  -%>

  <h1>E-Books List</h1>

  <% if(err) %>
  <h3><%= err %></h3>

  <% if(success) %>
  <h3><%= success %></h3>

  <form action="">
    <input type="text" name="search" placeholder="Search by title here!" />
    <button type="submit">Search</button>
  </form>
  <br />

  <table border="2">
    <tr>
      <th>No.</th>
      <th>Code</th>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Copies</th>
      <th>Action</th>
    </tr>

    <% data.forEach((el, i) => { %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= el.ebookId() %></td>
      <td><%= el.title %></td>
      <td><%= el.author %></td>
      <td><%= el.genre %></td>
      <td><%= el.copies %></td>
      <% if(session.role == 'admin') { %>
      <td>
        <a href="/ebooks/details/<%= el.id %>">See Borrower(s)</a> ||
        <a href="/ebooks/edit/<%= el.id %>">Edit</a> ||
        <a href="/ebooks/destroy/<%= el.id %>" onclick="return confirm('Are you sure you want to delete <%= el.title %> ?')">Delete</a>
      </td>
      <% } else { %>
      <td>
        <a href="/ebooks/borrow/<%= el.id %>">Borrow this book</a>
      </td>
      <% } %>
    </tr>
    <% }) %>
  </table>

  <% if(session.role == 'admin') { %>
  <form action="/ebooks/add">
    <br />
    <button>Add Ebook</button>
  </form>
  <% } %>
</body>

</html>